<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <style>
  .menu {
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background: #fb0;
  }
  </style>
  <script src="js/vue.min.js"></script>
</head>

<body>
  <!-- bind -->
  <div class="menu">双向数据绑定</div>
  <div id="app">
    <p>{{ message }}</p>
    <input v-model="message">
    <p v-bind:title="message">我的属性绑定了message值哦</p>
    <p :title="message">我的属性绑定了message值哦</p>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue.js!'
    }
  });
  </script>
  <!-- for -->
  <div class="menu">数据循环</div>
  <div id="for">
    <div v-for="tool in tools">
      {{ tool.name }}
    </div>
  </div>
  <script>
  new Vue({
    el: '#for',
    data: {
      tools: [{
        name: 'zhong'
      }, {
        name: 'zhu'
      }, {
        name: 'hua'
      }]
    }
  });
  </script>
  <!-- onclick -->
  <div class="menu">onclick</div>
  <div id="myclick">
    <div>
      {{ message }}
    </div>
    <button v-on:click="reverseMessage">reverse</button>
    <button @click="reverseMessage">reverse2</button>
  </div>
  <script>
  new Vue({
    el: '#myclick',
    data: {
      message: 'Hello World!'
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split(' ').reverse().join(' ');
      }
    }
  });
  </script>
  <!-- js 表达式 -->
  <div class="menu">js 表达式</div>
  <div id="myjs">
    <p v-if="login">{{ name }}</p>
    <p v-if="!login">{{ noName }}</p>
    <p>{{ login ? '已经登录' : '未登录' }}</p>
  </div>
  <script>
  new Vue({
    el: '#myjs',
    data: {
      login: false,
      name: 'ice',
      noName: '请先登录'
    }
  });
  </script>
  <!-- 动态数据更新 -->
  <div class="menu">动态数据更新 computed</div>
  <div id="mycom">
    <div>{{ fullname }}</div>
    <input v-model="first">
    <input v-model="last">
  </div>
  <script>
  new Vue({
    el: '#mycom',
    data: {
      first: 'zhong',
      last: 'zhuhua'
    },
    computed: {
      fullname: function() {
        return this.first + this.last
      }
    }
  });
  </script>
  <!-- 动态数据更新 -->
  <div class="menu">动态数据更新 watch</div>
  <div id="mycom2">
    <div>{{ fullname }}</div>
    <input v-model="first">
    <input v-model="last">
  </div>
  <script>
  var vueCom = new Vue({
    el: '#mycom2',
    data: {
      fullname: 'zhongzhuhua',
      first: 'zhong',
      last: 'zhuhua'
    }
  });

  vueCom.$watch('first', function(val) {
    this.fullname = val + this.last;
  });

  vueCom.$watch('last', function(val) {
    this.fullname = this.first + val;
  });
  </script>
  <!-- class 动态绑定 -->
  <div class="menu">动态样式绑定 class</div>
  <div id="myclass">
    <div v-bind:class="{ 'classa': isa, 'classb': isb }">{{ message }}</div>
    <div v-bind:style="mystyle" v-bind:class="[ca, cb]">{{ message }}</div>
  </div>
  <script>
  new Vue({
    el: '#myclass',
    data: {
      message: '看看我的样式吧',
      isa: true,
      isb: false,
      ca: 'classa',
      cb: 'classb',
      mystyle: {
        color: 'red',
        fontSize: '12px'
      }
    }
  });
  </script>
  <!-- template -->
  <div class="menu">模板 template</div>
  <div id="mytem">
    <template v-for="item in names">
      <span>{{ item }}</span>
    </template>
  </div>
  <script>
  new Vue({
    el: '#mytem',
    data: {
      names: ['zhong', 'zhuhua']
    }
  });
  </script>
  <!-- 延迟处理 -->
  <div class="menu">延迟处理 debounce</div>
  <div id="myLazy">
  	<input v-model="message" debounce="1500">
  	<input v-model="message2" lazy>
  	<div>message2:{{ message2 }}</div>
  </div>
  <script>
  	var vueLazy = new Vue({
  		el: '#myLazy',
  		data: {
  			message: 'zhong',
  			message2: 'zhuhua'
  		}
  	});

  	vueLazy.$watch('message', function(val) {
  		console.log(val);
  	});
  </script>
	<!-- 全局组件 -->
	<div class="menu">全局组件</div>
	<div id="gcom">
		<my-component></my-component>
	</div>
	<script>
		// 创建 vue 组件
		var MyComponent = Vue.extend({
			template: '<div>This is my component!</div>'
		});

		// 使用 Vue.component('name', vueObject) 注册全局组件
		Vue.component('my-component', MyComponent);

		new Vue({
			el: '#gcom'
		});
	</script>
	<!-- 局部组件 -->
	<div class="menu">局部组件</div>
	<div id="pcom">
		<me-component msg="Hello world!"></me-component>
		<me-component2></me-component2>
	</div>
	<div class="menu">全局组件全部能展示，但是上面的局部组件则无法展示</div>
	<div id="pcom2">
		<my-component></my-component>
		<me-component></me-component>
		<my-component2></my-component2>
	</div>
	<script>
		// 创建 Vue 组件
		var MeComponent = Vue.extend({
			// 声明属性
			props: ['msg'],
			template: '<div>This is private component! </div><div>MyMsg: {{ msg }}</div>'
		});

		// 内部注册
		var MyParent = new Vue({
			el: '#pcom',
			components: {
				'me-component': MeComponent,
				'me-component2': {
					template: '<div>This is private component2!</div>'
				}
			}
		});

		new Vue({
			el: '#pcom2'
		});
	</script>
</body>

</html>
